* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
    text-decoration: none;    
    font-size: 10px;
}
body {
    width: 100%;
    height: 100%;
    background-color: #483831;    
    color: #fff;    
}
a {
    text-decoration: none;
    color: #fff;
}
p {
    font-size: 2rem;
    font-weight: 300;
}

/* reusable */
.heading h1{
    font-size: 5rem;
}
.heading {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:1rem;
    position: relative;
}
.heading .bg-title {
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: rgb(255, 255, 255, 0.2);
}
.logo{
    height: 3rem;
    width: 3rem;
}
/* end of reusable */

/* start navbar */
.navbar {
    height: 4rem;
    padding: 3rem;
    font-size: 1.5rem;
    background-color: #483831;
    z-index: 999;
}
.navbar:after {
    content: "";
    border-bottom: 0.2rem solid #e5e7cb;
    position: absolute;
    left:3rem;
    right:3rem;
    bottom: 1.5rem;
    z-index: -1;
}
.navbar-brand:hover{
    color: #fff;
}
.nav-link {
    margin: 0 3rem;
    padding: 1rem;
    border-bottom: 0.3rem solid transparent;
    transition: border-bottom 0.3s;
    color: #707070;
    transition: color;
}
.nav-link:hover {
    color: #fff;
    border-bottom: 0.3rem solid #909b8b;
}
.nav-link.active{
    color: #fff;
    border-bottom: 0.3rem solid #909b8b;
}


/* start profile */
.left-part{
    padding:10rem;
    align-self: center;
}
.left-part .intro .name {
    font-size: 8rem;
    position: relative;
    padding-top:8rem;
}
.left-part .intro .pinyin {
    color: rgb(255, 255, 255, 0.3);
    font-size: 6rem;
    font-weight: 500;
    text-transform: uppercase;
}
.left-part .intro h1.name::after {
    content: "";
    height: 3.5rem;
    width: 3.5rem;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 100%;
    transform: translate(-1rem,0);
    left: 0;
}

.left-part .intro p {
    max-width: 100ch;
    padding: 8rem 0;
}
.right-part{
    padding: 10rem;
    align-self: center;
}
.right-part .photo {
    width: 48rem;
    height: 32rem;
    background-color: #909b8b;
    z-index: 0;
    transform: translateX(25%);
}
.right-part .photo::after {
    content: "";
    position: absolute;
    width: 48rem;
    height: 32rem;
    border: 0.5rem solid #e5e7cb;
    transform: translate(-25%, -25%);
    z-index: 99;
}
/* end of profile */

/* start of expriences */
.timeline{
    padding:15rem 0 20rem 5rem;
}
.timeline .timeline-list {
    border-left: 0.4rem solid #909b8b;
    position: relative;
    list-style: none;
    padding: 5rem;
    width: 50%;
}
.timeline .tl-item {
    min-width: 30ch;
    margin: 5rem 0;
    position: relative;
}
.tl-item h6{
    font-size: 2rem;
}

.timeline .tl-item::before {
    content: "";
    width: 2rem;
    height: 2rem;
    position: absolute;
    background-color: #e5e7cb;
    border-radius: 100%;
    transform: translate(-6.2rem);
}

.timeline .tl-item::after {
    content: "";
    width: 3rem;
    height: 3rem;
    position: absolute;
    border: 0.2rem solid #fff;
    transform: translate(-15rem, -6.2rem);
}

.timeline .heading .bg-title {
    text-align: right;
}
.timeline .heading .title {
    transform: translateY(-9rem);
}

/* start skills */
.skills .heading .title {
    transform: translateY(-4rem);
}
.skill-table{
    margin: 10rem 0;
    justify-content: center;
    align-items: center;
}
.svg {
    fill: #e5e7cb;
}
.card{
    width: 20rem;
    height: 20rem;
    padding:5rem;    
    background-color: #685851;
    box-shadow: 2px 3px 6px rgb(5, 5, 5);
}
/* end of skills */

/* start projects */
.projects{
    padding: 10rem 0;
}
.projects .heading {
    writing-mode: vertical-lr;
    text-orientation: upright;
}
.projects .heading .title {
    transform: translate(-2rem);
}
.projects .project-list {
    position: relative;
    display: flex;
    justify-content: stretch; 
}
.projects .project-list:hover > .project-item {
    width: 20%;
}
.projects .project-list .project-item {
    width: 33.33333333%;
    height: 100%;
    background-color: #1c1c1c;
    border: 1px solid #e5e7cb;
    overflow: hidden;
    position: relative;
    transition: width 0.3s ease;
}
.projects .project-list .project-item:hover {
    width: 60% !important;
    border: 2px solid #e5e7cb;
}
.projects .project-list .project-item:hover .pj-bg {
    filter: grayscale(0);
}
.project-item > .pj-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    /* transform: translate3d(0,0,0); ?? */
    filter: grayscale(100%);
}
.pj-1 {
    background-image: url(../img/p1/1.jpg);
}
.pj-2 {
    background-image: url(../img/p2/1.jpg);
}
.pj-3 {
    background-image: url(../img/p3/1.jpg);
}
/* end of projects */

/* start footer */
.footer-area{
    height: 5rem;
    padding-top: 5rem;
    color:rgb(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
}
.footer-area::before{
    content:"";
    position: absolute;
    border-top:1px solid grey;
    left:20%;
    right: 20%;
}
.footer-area .logo{
    align-self: center;
    margin: 1rem auto;
}
.footer-area p{
    font-size: small;
}
/* end of footer */