/* start global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    color: #fff;
    font-family: sans-serif;
    text-decoration: none;
    background-color: #483831;
}
body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
    color: #fff;
}
p {
    font-size: 2rem;
    font-weight: 300;
}
/* end global */
/* start reuseable */
.container {
    width: 90%;
    max-width: 180rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
    padding: 10rem;
}
section {
    width: 100%;
    position: relative;
}
/* end reuseable */
/* start navbar */
.navbar {
    width: 100%;
    position: sticky;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem;
    font-size: 1.6rem;
    top: 0;
    background-color: #483831;
    z-index: 999;
}
.logo {
    fill: #fff;
}
.nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav-link {
    margin: 0 2rem;
    font-size: 2rem;
    padding: 1rem;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.3s;
}
.nav-link:hover {
    color: #fff;
    border-bottom: 3px solid #909b8b;
}

.navbar li > a {
    color: #707070 !important;
    transition: color 0.3s !important;
}

.navbar li > a:hover {
    color: #fff !important;
    border-bottom: 4px solid #909b8b;
}
.navbar li a.active {
    color: #fff !important;
    border-bottom: 4px solid #909b8b;
}

.navbar:after {
    content: "";
    border-bottom: 2px solid #e5e7cb;
    position: absolute;
    top: 6.5rem;
    left: 4rem;
    right: 4rem;
    z-index: -1;
}

.navbar .logo {
    padding: 1rem;
}

.navbar-toggler {
    display: none;
}

/* end navbar */
/* start profile */
.profile {
    position: relative;
    padding-top: 9rem;
}
.profile .container {
    flex-direction: row;
    display: flex;
    height: 90vh;
}
.left-part {
    width: 40%;
    flex: 1;
    position: relative;
    left: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}
.left-part .intro .name {
    font-size: 10rem;
    position: relative;
}
.left-part .intro .pinyin {
    color: rgb(255, 255, 255, 0.3);
    font-size: 6rem;
    font-weight: 500;
    text-transform: uppercase;
}
.left-part .intro h1.name::after {
    content: "";
    height: 5rem;
    width: 5rem;
    position: absolute;
    border: 1px solid #fff;
    border-radius: 100%;
    transform: translate(-2.4rem, -1rem);
    left: 0;
}

.left-part .intro p {
    max-width: 60ch;
    padding: 5rem 5rem 0 0;
}
.right-part {
    flex: 1;
    width: 50%;
    position: relative;
    right: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}
.right-part .photo {
    width: 48rem;
    height: 32rem;
    background-color: #909b8b;
    z-index: 0;
    transform: translateX(25%);
}
.right-part .photo::after {
    content: "";
    position: absolute;
    width: 48rem;
    height: 32rem;
    border: 0.5rem solid #e5e7cb;
    transform: translate(-25%, -25%);
    z-index: 99;
}

/* end profile */
/* start timeline */
.experiences .container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 200vh;
}
.timeline {
    display: flex;
    position: relative;
}
.timeline .timeline-list {
    border-left: 1rem solid #909b8b;
    /* background-color: rgb(0, 0, 0,0.05); */
    margin: 10rem auto 5rem 10rem;
    position: relative;
    list-style: none;
    text-align: left;
    padding: 5rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.timeline .tl-item {
    min-width: 30ch;
    margin: 5rem 0;
    font-size: 4rem;
    position: relative;
}

.timeline .tl-item::before {
    content: "";
    width: 3rem;
    height: 3rem;
    position: absolute;
    background-color: #e5e7cb;
    border-radius: 100%;
    transform: translate(-7rem);
}
.timeline .tl-item::after {
    content: "";
    width: 4rem;
    height: 4rem;
    position: absolute;
    border: 0.2rem solid #fff;
    transform: translate(-15rem, -7rem);
}
.timeline .heading {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
    padding: 10rem;
}
.timeline .heading .bg-title {
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: rgb(255, 255, 255, 0.2);
    padding: 1rem;
    align-self: flex-end;
    text-align: right;
}
.timeline .heading .title {
    position: absolute;
    padding: 1rem;
    transform: translateX(10rem);
}

/* end timeline */

/* start skills */
.skills {
    position: relative;
    height: 100vh;
}
.skills .heading {
    display: flex;
    flex-direction: column;
    font-size: 6rem;
}
.skills .heading .bg-title {
    letter-spacing: 1rem;
    text-transform: uppercase;
    color: rgb(255, 255, 255, 0.2);
    padding: 1rem;
}
.skills .heading .title {
    position: absolute;
    padding: 1rem;
    transform: translate(10rem, 4rem);
}

.skill-table {
    width: 100%;
    height: 80%;
    margin-top: 8rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    padding: 1rem 20rem;
    flex-wrap: wrap;
}
.skill-item {
    width: 20rem;
    height: 20rem;
    padding: 5rem;
    background-color: #685851;
    box-shadow: 2px 3px 6px rgb(5, 5, 5);
    margin: 5rem;
}
.skill-item img {
    width: 10rem;
    height: 10rem;
}
.skill-item .svg {
    fill: #e5e7cb;
}
/* end skills */

/* start projects */
.projects {
    position: relative;
    height: 100vh;
    width: 100%;
}
.projects .container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    padding-top: 20rem;
}
.projects .heading {
    display: flex;
    flex-direction: column;
    font-size: 6rem;
    writing-mode: vertical-lr;
    text-orientation: upright;
    flex: 1;
    width: 5rem;
}
.projects .heading .bg-title {
    letter-spacing: 1rem;
    text-transform: uppercase;
    color: rgb(255, 255, 255, 0.2);
    padding: 1rem;
}
.projects .heading .title {
    position: relative;
    padding: 1rem;
    transform: translate(-8rem, 10rem);
}
.projects .project-list {
    flex: 4;
    position: relative;
    width: 50%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: stretch;
    margin-top: 10rem;
}
.projects .project-list:hover > .project-item {
    width: 20%;
}
.projects .project-list .project-item {
    width: 33.3333%;
    height: 100%;
    background-color: #1c1c1c;
    border: 1px dotted #e5e7cb;
    overflow: hidden;
    position: relative;
    transition: width 0.5s ease;
}
.projects .project-list .project-item:hover {
    width: 60% !important;
    border: 2px solid #e5e7cb;
}
.projects .project-list .project-item:hover .pj-bg {
    filter: grayscale(0);
}
.project-item > .pj-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    /* transform: translate3d(0,0,0); ?? */
    filter: grayscale(100%);
}
.pj-1 {
    background-image: url(../img/p1/1.jpg);
}
.pj-2 {
    background-image: url(../img/p2/1.jpg);
}
.pj-3 {
    background-image: url(../img/p3/1.jpg);
}
/* end projects */

/* responsive */

/* ipad pro */
@media screen and (max-width: 1024px) {
    html {
        font-size: 5px;
    }
    /* start profile */
    .profile .container {
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .left-part {
        order: 1;
        align-items: center;
        text-align: center;
        width: 100%;
        vertical-align: center;
        height: 100%;
        top: 30rem;
    }
    .left-part .intro h1.name::after {
        content: "";
        height: 5rem;
        width: 5rem;
        position: absolute;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 100%;
        left: 0;
        transform: translate(36.5rem, -1rem);
    }
    .left-part .intro p {
        max-width: 100ch;
        padding: 5rem 5rem 0 0;
        margin-top: 20%;
    }
    .right-part {
        width: 100%;
        order: 2;
        height: 100%;
        padding: 185rem 0 65rem 0;
    }
    /* end profile */

    /* start timeline */
    .experiences .container {
        height: 200vh; /* Not sure to modify*/
        align-items: center;
    }
    .timeline {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .timeline .timeline-list {
        order: 2;
        align-self: center;
        left: 30%;
    }
    .timeline .tl-item {
        min-width: 30ch;
        margin: 5rem 0;
        font-size: 4rem;
        position: relative;
    }
    .timeline .heading .bg-title {
        letter-spacing: 0.5rem;
        text-transform: uppercase;
        color: rgb(255, 255, 255, 0.2);
        padding: 1rem;
        align-self: center;
        text-align: center;
    }
    .timeline .heading .title {
        position: absolute;
        padding: 1rem;
        transform: none;
    }
    /* end timeline */

    /* start skills */
    .skills {
        height: auto;
    }
    .skills .heading {
        align-items: center;
        position: relative;
    }
    .skills .heading .bg-title {
        font-size: 8rem;
    }
    .skills .heading .title {
        letter-spacing: 0.8rem;
        transform: translateY(6rem);
    }

    .skill-table {
        height: 100%;
        margin-top: 10rem;
        display: flex;
        padding: 20rem;
        position: relative;
        align-items: center;
    }
    .skill-item {
        width: 30rem;
        height: 30rem;
    }
    /* end skills */

    /* start projects */
    .projects .container {
        height: 100%;
        flex-direction: column;
    }
    .projects .heading {
        writing-mode: horizontal-tb;
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .projects .heading .bg-title {
        position: relative;
        font-size: 8rem;
    }
    .projects .heading .title {
        text-orientation: upright;
        position: absolute;
        transform: translate(0, 5rem);
    }
    .projects .project-list {
        margin-top: 20rem;
        flex: none;
        width: 100%;
        flex-direction: column;
    }

    .projects .project-list .project-item {
        width: 100%;
        height: 33.3333%;
        transition: height 0.5s ease;
    }
    .projects .project-list:hover > .project-item {
        height: 20%;
        width: 100%;
    }
    .projects .project-list .project-item:hover {
        height: 60% !important;
        width: 100% !important;
    }
}
/* ipad */
@media screen and (max-width: 768px){
    body {
        background-color: pink;
    }
}
/* iphone6 7 8 plus */
@media screen and (max-width: 414px) {
    body {
        background-color: blue;
    }
}
/* iphoneX */
@media screen and (max-width: 375px) and (-webkit-device-pixel-ratio: 3) {
    body {
        background-color: #0ff000;
    }
}
/* iphone6 7 8 */
@media screen and (max-width: 375px) and (-webkit-device-pixel-ratio: 2) {
    body {
        background-color: #0ff000;
    }
}
/* iphone5 */
@media screen and (max-width: 320px) {
    body {
        background-color: #0ff000;
    }
}
